.au-c-main-header, .au-c-main-footer {
  /* ==========================================================================
   Reset
   ========================================================================== */
  /* HTML5 display-role reset for older browsers */
  /* Font */
  /* Global styling */
  /* Brand */
  /* Header */
  /* Footer */
  /* Links */
  /* Icons */
  /* Content */
  /* List */
}

.au-c-main-header html, .au-c-main-header body, .au-c-main-header div, .au-c-main-header span, .au-c-main-header applet, .au-c-main-header object, .au-c-main-header iframe,
.au-c-main-header h1, .au-c-main-header h2, .au-c-main-header h3, .au-c-main-header h4, .au-c-main-header h5, .au-c-main-header h6, .au-c-main-header p, .au-c-main-header blockquote, .au-c-main-header pre,
.au-c-main-header a, .au-c-main-header abbr, .au-c-main-header acronym, .au-c-main-header address, .au-c-main-header big, .au-c-main-header cite, .au-c-main-header code,
.au-c-main-header del, .au-c-main-header dfn, .au-c-main-header em, .au-c-main-header img, .au-c-main-header ins, .au-c-main-header kbd, .au-c-main-header q, .au-c-main-header s, .au-c-main-header samp,
.au-c-main-header small, .au-c-main-header strike, .au-c-main-header strong, .au-c-main-header sub, .au-c-main-header sup, .au-c-main-header tt, .au-c-main-header var,
.au-c-main-header b, .au-c-main-header u, .au-c-main-header i, .au-c-main-header center,
.au-c-main-header dl, .au-c-main-header dt, .au-c-main-header dd, .au-c-main-header ol, .au-c-main-header ul, .au-c-main-header li,
.au-c-main-header fieldset, .au-c-main-header form, .au-c-main-header label, .au-c-main-header legend,
.au-c-main-header table, .au-c-main-header caption, .au-c-main-header tbody, .au-c-main-header tfoot, .au-c-main-header thead, .au-c-main-header tr, .au-c-main-header th, .au-c-main-header td,
.au-c-main-header article, .au-c-main-header aside, .au-c-main-header canvas, .au-c-main-header details, .au-c-main-header embed,
.au-c-main-header figure, .au-c-main-header figcaption, .au-c-main-header footer, .au-c-main-header header, .au-c-main-header hgroup,
.au-c-main-header menu, .au-c-main-header nav, .au-c-main-header output, .au-c-main-header ruby, .au-c-main-header section, .au-c-main-header summary,
.au-c-main-header time, .au-c-main-header mark, .au-c-main-header audio, .au-c-main-header video, .au-c-main-footer html, .au-c-main-footer body, .au-c-main-footer div, .au-c-main-footer span, .au-c-main-footer applet, .au-c-main-footer object, .au-c-main-footer iframe,
.au-c-main-footer h1, .au-c-main-footer h2, .au-c-main-footer h3, .au-c-main-footer h4, .au-c-main-footer h5, .au-c-main-footer h6, .au-c-main-footer p, .au-c-main-footer blockquote, .au-c-main-footer pre,
.au-c-main-footer a, .au-c-main-footer abbr, .au-c-main-footer acronym, .au-c-main-footer address, .au-c-main-footer big, .au-c-main-footer cite, .au-c-main-footer code,
.au-c-main-footer del, .au-c-main-footer dfn, .au-c-main-footer em, .au-c-main-footer img, .au-c-main-footer ins, .au-c-main-footer kbd, .au-c-main-footer q, .au-c-main-footer s, .au-c-main-footer samp,
.au-c-main-footer small, .au-c-main-footer strike, .au-c-main-footer strong, .au-c-main-footer sub, .au-c-main-footer sup, .au-c-main-footer tt, .au-c-main-footer var,
.au-c-main-footer b, .au-c-main-footer u, .au-c-main-footer i, .au-c-main-footer center,
.au-c-main-footer dl, .au-c-main-footer dt, .au-c-main-footer dd, .au-c-main-footer ol, .au-c-main-footer ul, .au-c-main-footer li,
.au-c-main-footer fieldset, .au-c-main-footer form, .au-c-main-footer label, .au-c-main-footer legend,
.au-c-main-footer table, .au-c-main-footer caption, .au-c-main-footer tbody, .au-c-main-footer tfoot, .au-c-main-footer thead, .au-c-main-footer tr, .au-c-main-footer th, .au-c-main-footer td,
.au-c-main-footer article, .au-c-main-footer aside, .au-c-main-footer canvas, .au-c-main-footer details, .au-c-main-footer embed,
.au-c-main-footer figure, .au-c-main-footer figcaption, .au-c-main-footer footer, .au-c-main-footer header, .au-c-main-footer hgroup,
.au-c-main-footer menu, .au-c-main-footer nav, .au-c-main-footer output, .au-c-main-footer ruby, .au-c-main-footer section, .au-c-main-footer summary,
.au-c-main-footer time, .au-c-main-footer mark, .au-c-main-footer audio, .au-c-main-footer video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.au-c-main-header article, .au-c-main-header aside, .au-c-main-header details, .au-c-main-header figcaption, .au-c-main-header figure,
.au-c-main-header footer, .au-c-main-header header, .au-c-main-header hgroup, .au-c-main-header menu, .au-c-main-header nav, .au-c-main-header section, .au-c-main-footer article, .au-c-main-footer aside, .au-c-main-footer details, .au-c-main-footer figcaption, .au-c-main-footer figure,
.au-c-main-footer footer, .au-c-main-footer header, .au-c-main-footer hgroup, .au-c-main-footer menu, .au-c-main-footer nav, .au-c-main-footer section {
  display: block;
}

@font-face {
  .au-c-main-header, .au-c-main-footer {
    font-family: flanders-sans;
    src: url(https://d1l6j3bn1os9t0.cloudfront.net/3.latest/fonts/flanders/flanders-sans-light.woff2) format("woff2"), url(https://d1l6j3bn1os9t0.cloudfront.net/3.latest/fonts/flanders/flanders-sans-light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
  }
}

@font-face {
  .au-c-main-header, .au-c-main-footer {
    font-family: flanders-sans;
    src: url(https://d1l6j3bn1os9t0.cloudfront.net/3.latest/fonts/flanders/flanders-sans-regular.woff2) format("woff2"), url(https://d1l6j3bn1os9t0.cloudfront.net/3.latest/fonts/flanders/flanders-sans-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
  }
}

@font-face {
  .au-c-main-header, .au-c-main-footer {
    font-family: flanders-sans;
    src: url(https://d1l6j3bn1os9t0.cloudfront.net/3.latest/fonts/flanders/flanders-sans-medium.woff2) format("woff2"), url(https://d1l6j3bn1os9t0.cloudfront.net/3.latest/fonts/flanders/flanders-sans-medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
  }
}

@font-face {
  .au-c-main-header, .au-c-main-footer {
    font-family: flanders-sans;
    src: url(https://d1l6j3bn1os9t0.cloudfront.net/3.latest/fonts/flanders/flanders-sans-bold.woff2) format("woff2"), url(https://d1l6j3bn1os9t0.cloudfront.net/3.latest/fonts/flanders/flanders-sans-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
  }
}

.au-c-main-header *,
.au-c-main-header *:before,
.au-c-main-header *:after, .au-c-main-footer *,
.au-c-main-footer *:before,
.au-c-main-footer *:after {
  box-sizing: inherit;
}

.au-c-main-header html, .au-c-main-footer html {
  box-sizing: border-box;
  font-family: "flanders-sans", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  min-height: 100%;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
}

.au-c-main-header body, .au-c-main-footer body {
  font-size: 1.5rem;
  line-height: 1.5;
}

.au-c-main-header ::-moz-selection, .au-c-main-footer ::-moz-selection {
  color: #212326;
  background-color: #DCECFD;
}

.au-c-main-header ::selection, .au-c-main-footer ::selection {
  color: #212326;
  background-color: #DCECFD;
}

.au-c-main-header .au-c-brand, .au-c-main-footer .au-c-brand {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.au-c-main-header .au-c-brand--link:focus, .au-c-main-footer .au-c-brand--link:focus {
  outline: 0;
}

.au-c-main-header .au-c-brand__logo, .au-c-main-footer .au-c-brand__logo {
  position: relative;
  width: 4.2rem;
  height: 4.2rem;
  padding-left: 0.75rem;
  overflow: hidden;
  transition: background-color 125ms cubic-bezier(0.19, 1, 0.22, 1);
}

.au-c-main-header .au-c-brand__logo::after,
.au-c-main-header .au-c-brand__logo::before, .au-c-main-footer .au-c-brand__logo::after,
.au-c-main-footer .au-c-brand__logo::before {
  display: block;
  position: absolute;
  content: "";
}

.au-c-main-header .au-c-brand__logo svg, .au-c-main-footer .au-c-brand__logo svg {
  fill: #212326;
  height: 100%;
  width: 56%;
}

.au-c-main-header .au-c-brand__logo::before, .au-c-main-footer .au-c-brand__logo::before {
  right: -0.1rem;
  bottom: -0.3rem;
  border-top: 9rem solid #fff;
  border-left: 3.07818rem solid transparent;
}

.au-c-main-header .au-c-brand__logo::after, .au-c-main-footer .au-c-brand__logo::after {
  top: -0.2rem;
  right: 17%;
  transform: rotate(-19deg);
  width: 0.1rem;
  height: calc(100% + 0.4rem);
  background-color: #ccd1d9;
}

.au-c-main-header .au-c-brand--link:focus .au-c-brand__logo,
.au-c-main-header .au-c-brand--link:hover .au-c-brand__logo, .au-c-main-footer .au-c-brand--link:focus .au-c-brand__logo,
.au-c-main-footer .au-c-brand--link:hover .au-c-brand__logo {
  background-color: #e6e8eb;
}

.au-c-main-header .au-c-brand--tagline .au-c-brand__logo, .au-c-main-footer .au-c-brand--tagline .au-c-brand__logo {
  width: 4.8rem;
  height: 4.8rem;
}

.au-c-main-header .au-c-brand__logotype, .au-c-main-footer .au-c-brand__logotype {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
  display: none;
  position: relative;
  color: #212326;
  margin-left: 0.6rem;
  transition: color 125ms cubic-bezier(0.19, 1, 0.22, 1);
  font-weight: 500;
}

.au-c-main-header .au-c-brand--tagline .au-c-brand__logotype, .au-c-main-footer .au-c-brand--tagline .au-c-brand__logotype {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 4.2rem;
  padding-right: 1.2rem;
}

@media (min-width: 47.9375em) {
  .au-c-main-header .au-c-brand__logotype, .au-c-main-footer .au-c-brand__logotype {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 4.2rem;
    padding-right: 1.2rem;
  }
  .au-c-main-header .au-c-brand--link:focus .au-c-brand__logotype,
  .au-c-main-header .au-c-brand--link:hover .au-c-brand__logotype, .au-c-main-footer .au-c-brand--link:focus .au-c-brand__logotype,
  .au-c-main-footer .au-c-brand--link:hover .au-c-brand__logotype {
    color: #0f6fd7;
  }
  .au-c-main-header .au-c-brand--link:focus .au-c-brand__logotype, .au-c-main-footer .au-c-brand--link:focus .au-c-brand__logotype {
    outline: #ffc515 dashed 0.2rem;
  }
}

.au-c-main-header .au-c-brand__main, .au-c-main-footer .au-c-brand__main {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.2;
  display: block;
}

.au-c-main-header .au-c-brand__tagline, .au-c-main-footer .au-c-brand__tagline {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 400;
  display: block;
  color: #2a2d31;
}

.au-c-main-header .au-c-main-header, .au-c-main-footer .au-c-main-header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(33, 35, 38, 0.1), 0 4px 20px rgba(33, 35, 38, 0.035), 0 1px 1px rgba(33, 35, 38, 0.025);
}

.au-c-main-header .au-c-main-header__title-group, .au-c-main-footer .au-c-main-header__title-group {
  display: flex;
  align-items: center;
  color: #2a2d31;
  text-decoration: none;
}

.au-c-main-header .au-c-main-header__title, .au-c-main-footer .au-c-main-header__title {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding: 0.6rem;
  color: #2a2d31;
  transition: color 125ms cubic-bezier(0.19, 1, 0.22, 1), text-decoration-color 125ms cubic-bezier(0.19, 1, 0.22, 1);
  letter-spacing: 0.03ex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 9.6rem;
}

@media (min-width: 31.25em) {
  .au-c-main-header .au-c-main-header__title, .au-c-main-footer .au-c-main-header__title {
    max-width: 14.4rem;
  }
}

@media (min-width: 47.9375em) {
  .au-c-main-header .au-c-main-header__title, .au-c-main-footer .au-c-main-header__title {
    margin-left: 0;
    padding-left: 2.4rem;
    max-width: 19.2rem;
  }
  .au-c-main-header .au-c-main-header__title::before, .au-c-main-footer .au-c-main-header__title::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0.5rem;
    transform: rotate(-19deg);
    width: 0.1rem;
    height: 3rem;
    background-color: #ccd1d9;
  }
}

.au-c-main-header .au-c-main-header__title--link, .au-c-main-footer .au-c-main-header__title--link {
  text-decoration: underline;
  text-underline-offset: 0.3ex;
}

.au-c-main-header .au-c-main-header__title--link,
.au-c-main-header .au-c-main-header__title--link:visited, .au-c-main-footer .au-c-main-header__title--link,
.au-c-main-footer .au-c-main-header__title--link:visited {
  color: #2a2d31;
  text-decoration-color: #bfc0c1;
}

.au-c-main-header .au-c-main-header__title--link:focus,
.au-c-main-header .au-c-main-header__title--link:hover, .au-c-main-footer .au-c-main-header__title--link:focus,
.au-c-main-footer .au-c-main-header__title--link:hover {
  color: #545961;
  text-decoration: underline;
  text-decoration-color: #dddedf;
}

.au-c-main-header .au-c-main-header__title--link:focus, .au-c-main-footer .au-c-main-header__title--link:focus {
  outline: #ffc515 dashed 0.2rem;
}

.au-c-main-header .au-c-main-header__skiplink, .au-c-main-footer .au-c-main-header__skiplink {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  position: absolute;
  transition: color 125ms cubic-bezier(0.19, 1, 0.22, 1);
  letter-spacing: 0.03ex;
  margin-left: 1.2rem;
  padding: 0.6rem;
  background-color: #f4f5f6;
  border-radius: 0.4rem;
  z-index: 1;
  top: -1000px;
  left: -1000px;
}

.au-c-main-header .au-c-main-header__skiplink,
.au-c-main-header .au-c-main-header__skiplink:focus,
.au-c-main-header .au-c-main-header__skiplink:hover, .au-c-main-footer .au-c-main-header__skiplink,
.au-c-main-footer .au-c-main-header__skiplink:focus,
.au-c-main-footer .au-c-main-header__skiplink:hover {
  color: #2a2d31;
  text-decoration: underline;
  text-decoration-color: #d4d5d6;
}

.au-c-main-header .au-c-main-header__skiplink:focus, .au-c-main-footer .au-c-main-header__skiplink:focus {
  outline: #ffc515 dashed 0.2rem;
  top: 4.8rem;
  left: -0.6rem;
}

@media (min-width: 63.9375em) {
  .au-c-main-header .au-c-main-header__title, .au-c-main-footer .au-c-main-header__title {
    max-width: initial;
  }
  .au-c-main-header .au-c-main-header__skiplink, .au-c-main-footer .au-c-main-header__skiplink {
    position: relative;
  }
  .au-c-main-header .au-c-main-header__skiplink:focus, .au-c-main-footer .au-c-main-header__skiplink:focus {
    top: 0;
    left: 0;
  }
}

.au-c-main-header .au-c-main-header__actions, .au-c-main-footer .au-c-main-header__actions {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 0.7;
  display: flex;
  align-items: center;
  padding: 0.6rem 1.2rem;
}

.au-c-main-header .au-c-main-footer, .au-c-main-footer .au-c-main-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 2.4rem;
  background-color: #fff;
  border-top: 0.1rem solid #e6e8eb;
}

.au-c-main-header .au-c-main-footer__brand, .au-c-main-footer .au-c-main-footer__brand {
  padding-right: 2.4rem;
  padding-bottom: 2.4rem;
}

@media (min-width: 100em) {
  .au-c-main-header .au-c-main-footer__brand, .au-c-main-footer .au-c-main-footer__brand {
    padding-right: 4.8rem;
  }
}

.au-c-main-header .au-c-link, .au-c-main-footer .au-c-link {
  display: inline-flex;
  align-items: center;
  transition: color 125ms cubic-bezier(0.19, 1, 0.22, 1), text-decoration 125ms cubic-bezier(0.19, 1, 0.22, 1);
  font-weight: 400;
  text-decoration-color: #b7cfea;
}

.au-c-main-header .au-c-link,
.au-c-main-header .au-c-link:visited, .au-c-main-footer .au-c-link,
.au-c-main-footer .au-c-link:visited {
  color: #0e5eb8;
}

.au-c-main-header .au-c-link:focus,
.au-c-main-header .au-c-link:hover, .au-c-main-footer .au-c-link:focus,
.au-c-main-footer .au-c-link:hover {
  color: #0f6fd7;
  text-decoration-color: #cfe2f7;
}

.au-c-main-header .au-c-link:focus, .au-c-main-footer .au-c-link:focus {
  outline: #ffc515 dashed 0.2rem;
  outline-offset: 0.3rem;
}

.au-c-main-header .au-c-link.is-active, .au-c-main-footer .au-c-link.is-active {
  font-weight: 500;
  color: #212326;
  text-decoration: none;
  pointer-events: none;
}

.au-c-main-header .au-c-link--secondary,
.au-c-main-header .au-c-link--secondary:visited, .au-c-main-footer .au-c-link--secondary,
.au-c-main-footer .au-c-link--secondary:visited {
  color: #2a2d31;
  text-decoration-color: #bfc0c1;
}

.au-c-main-header .au-c-link--secondary:focus,
.au-c-main-header .au-c-link--secondary:hover, .au-c-main-footer .au-c-link--secondary:focus,
.au-c-main-footer .au-c-link--secondary:hover {
  color: #545961;
  text-decoration-color: #dddedf;
}

.au-c-main-header .is-active > .au-c-link--secondary, .au-c-main-footer .is-active > .au-c-link--secondary {
  color: #212326;
  text-decoration: none;
}

.au-c-main-header .au-c-link--secondary.is-active, .au-c-main-footer .au-c-link--secondary.is-active {
  color: #212326;
}

.au-c-main-header .au-c-icon, .au-c-main-footer .au-c-icon {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  vertical-align: baseline;
  bottom: 0.05ex;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.au-c-main-header .au-c-icon--left, .au-c-main-footer .au-c-icon--left {
  margin-right: 0.6rem;
}

.au-c-main-header .au-c-content, .au-c-main-footer .au-c-content {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

.au-c-main-header .au-c-content--small, .au-c-main-footer .au-c-content--small {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
}

.au-c-main-header .au-c-content > * + *, .au-c-main-footer .au-c-content > * + * {
  margin-top: 2.4rem;
}

.au-c-main-header .au-c-heading--4, .au-c-main-footer .au-c-heading--4 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;
}

.au-c-main-header .au-c-list-horizontal, .au-c-main-footer .au-c-list-horizontal {
  display: flex;
  align-items: center;
}

.au-c-main-header .au-c-list-horizontal__item, .au-c-main-footer .au-c-list-horizontal__item {
  display: flex;
  align-items: center;
}

.au-c-main-header .au-c-list-horizontal__item + .au-c-list-horizontal__item, .au-c-main-footer .au-c-list-horizontal__item + .au-c-list-horizontal__item {
  margin-left: 1.2rem;
  padding-left: 1.2rem;
  border-left: 1px dotted #ccd1d9;
}

.au-c-main-header .au-c-list-horizontal__item > .au-c-button,
.au-c-main-header .au-c-list-horizontal__item > .au-c-dropdown,
.au-c-main-header .au-c-list-horizontal__item > .ember-view > .au-c-button, .au-c-main-footer .au-c-list-horizontal__item > .au-c-button,
.au-c-main-footer .au-c-list-horizontal__item > .au-c-dropdown,
.au-c-main-footer .au-c-list-horizontal__item > .ember-view > .au-c-button {
  margin-left: -0.6rem;
}
